/* 商品の概要 */

.music_show {
  background-color: #6c272d;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.music-box {
  background-color: #6c272d;
  width: 100vw;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-image_show {
  height: 600px;
  width: 100%;
  background-color: #6c272d;
  object-fit: contain;
}

.youtube_show{
  position:relative;
  width:100%;
  height:100%;
  /* padding-top:100%; */
}

.youtube_show iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.music-title_show {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.music-artist_show {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
}

.music-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  font-size: 30px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.music-detail {
  width: 20%;
  background-color: whitesmoke;
  border: 1px solid #dedede;
  font-size: 20px;
  text-align: center;
}

.detail-value {
  background-color: whitesmoke;
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 20px;
}

.detail-value a{
  color: red;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}


.action{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* /商品の概要 */
.music_edit {
  background-color: whitesmoke;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.or-text {
  font-size: 20px;
}

.music_destroy {
  background-color: whitesmoke;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.like-btn_show{
  width: 100%;
  color: whitesmoke;
  text-align: right;
}

.comment-box {
  width: 500px;
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
  color: black;
  margin-bottom: 10px;
}

.comment-list {
  padding: 5px;
  margin-top: 15px;
  word-wrap: break-word;
}

.comment-submit {
  width: 100%;
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

.comment-nickname{
  color:red;
}
