.top-page-header {
  /* background-image: url("assets/images/new_release_only-header.JPG"); */
  width: 100vw;
  height: 40vh;
  /* padding: 2vh 15vw; */
  display: flex;
  flex-direction: column;
}

.header-background-image{
  width: 100%;
  height: 50%;
  justify-content: center;
}

.header-contents{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  background-color: #1f2f54;
  height: 50%;
}

.left-header{
  display: flex;
  align-items: center;
  width: calc(100% - 40%);
  margin: 35px;
  text-decoration: none;
}

.new_release_only-logo {
  width: 70px;
}

.new_release_only {
  padding: 0px 30px;
  color:whitesmoke;
  font-size: 50px;
  text-decoration: none;
}

.right-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
  /* background-color: cornflowerblue; */
  margin: 20px;
  flex-direction: column;
}

.search-form {
  width: 100%;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.input-box {
  width: 90%;
  padding-left: 10px;
}

.search-button {
  width: 10%;
  border: 0;
  cursor: pointer;
  padding: 8px;
}

.search-icon {
  width: 100%;
  height: 100%;
}

/* .bottom-contents {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
} */

.user_info {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  margin-right: 10px;
}

.user-nickname {
  text-decoration: none;
  margin-right: 10px;
  color: whitesmoke;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: whitesmoke;
}

.login {
  text-decoration: none;
  margin-right: 10px;
  color: whitesmoke;
}

.sign-up {
  text-decoration: none;
  color: whitesmoke;
}