<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <%= image_tag("new_release_only-header.JPG", class:"header-background-image")%>
  <div class = 'header-contents'>
    <div class = 'left-header'>
    <%= link_to root_path, class:"page-link" do %>
      <%= image_tag("new_release_only-logo.JPG", class:"new_release_only-logo")%>
      <div class='new_release_only'>new release only!</div>
    <% end %>
    </div>
    <div class='right-header'></div>
  </div>
</header>