.header-contents-bottom{
  width: 100vw;
  height: 100px;
  background-color: #1f2f54;;
  display: flex;
  color:whitesmoke;
  border-top: whitesmoke solid 5px ;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.user-detail{
  display: flex;
  color:whitesmoke;
  padding: 20px;
  align-items: center;
}

.user-name_show{
  font-size: 40px;
}

.user_introduction_show{
  font-size: 20px;
  padding-left: 50px;
}

.user_show_action{
  color:whitesmoke;
  padding: 20px;
  }

  .user_show{
    height: 100%;
    width: 100vw;
    background-color: #6c272d;
  }

  .user-show-text{
    font-size: 30px;
    padding: 20px;
    color:whitesmoke;
  }
  